body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}


.top {
    display: flex;
    align-items: center;
    /* flex: 1; */
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 50px 70px 50px;
    background-color: #1F2937;
    color: white;
}

.top .top-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.top .header {
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top .header .header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.top .header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.top .header a {
    text-decoration: 0;
    color: #E5E7EB;
}

.top .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding-top: 50px;
    /* margin-top: 50px; */
}

.top .hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;

}

.top .hero-right {
    display: flex;
    align-items: center;
}

.top .hero-maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.top .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.top .hero-button button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}



.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 100px 32px;
}

.showcase .header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.showcase .container {
    display: flex;
    gap: 50px;
    text-align: center;
    flex-wrap: wrap;
    /* flex: auto; */
}

.showcase .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 8px;
}

.showcase .border {
    padding: 50%;
    border-radius: 20px;
    border: 4px solid #3882F6;
}

.showcase .text {
    color: #4b5563;
}



.quote {
    background-color: #E5E7EB;
    padding: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .quote-container {
    max-width: 800px;
}

.quote .quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}



.call-to-action {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.call-to-action .call-container {
    display: flex;
    gap: 200px;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #3882F6;
    padding: 60px 125px;
    border-radius: 10px;
}

.call-to-action .call-text {
    color: #ffffff;
}

.call-to-action .call-maintext {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action .call-subtext {
    font-size: 18px;
}

.call-to-action button {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 50px;
    border: 2px solid white;
    border-radius: 10px;
}